
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

body {
  margin: 0;
  font-family: 'Playfair';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(244, 238, 229, 0.37);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  background-color: black;
  color: white;
  padding: 8px 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  
}
.header > div{
  
  margin: auto 32px;
}
.topheader{
  overflow: hidden;
  position: relative;
  width: 150px;

}
.topheader > h4{
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 22%;
    width: 100%;
  }
}

.shopnow{
  background: black;
  border: 0;
  color: aliceblue;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  
}
.shopnow:hover {
  background-color: white;
  color: black;
  border: 0.25px solid gray;
}

.react-multiple-carousel__arrow--right {
  right: calc(4% + 1px);
  bottom: -10px;
}
.react-multiple-carousel__arrow--left {
  left: calc(85% + 1px) !important;
  bottom: -10px;
}
.react-multiple-carousel__arrow {
  position: absolute;
  outline: 0;
  transition: all .5s;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  background: inherit !important;
  min-width: 43px;
  min-height: 43px;
  opacity: 1;
  cursor: pointer;
}

.react-multiple-carousel__arrow::before {
  font-size: 20px;
  color: gray !important;
  display: block;
  font-family: revicons;
  text-align: center;
  z-index: 2;
  position: relative;
}

